.sidebar{
  display: flex;
  flex-direction: column;
  flex: 0.35;
}

.sidebar__header{
  display: flex;
  justify-content: space-between;
  padding: 20px 5px 20px 20px;
  border-right: 1px solid lightgray;
}

.sidebar__headerRight > .MuiSvgIcon-root{
  font-size: 24px;
  margin-right: 2vw;
}

.sidebar__search{
  display: flex;
  align-items: center;
  background-color: #f6f6f6; 
  height: 39px;
  padding: 10px;
}

.sidebar__searchContainer{
  display: flex;
  background-color: white;
  border-radius: 20px;
  height: 35px;
  align-items: center;
  padding-right: 5px;
  flex: 1;
}

.sidebar__searchContainer > input{
  border: none;
  outline: none;
}

.sidebar__searchContainer > .MuiSvgIcon-root{
  color: gray;
  padding: 10px;
}

.sidebar__chats{
  background: white;
  flex: 1;
  overflow-y: scroll;
}

::-webkit-scrollbar{
  display: none;
}